{% extends 'app/base.html' %}
{% load static %}
{% block title %}Contact Us{% endblock title %}
{% if request.user.is_authenticated %}{% block total_in_cart %} {{items_in_cart}} {% endblock total_in_cart %}{% endif %}
{% block navlink-contact %}
<li class="nav-item active" id = "navlink6">
    <a class="nav-link" style="color: #000;" onMouseOver="this.style.color='#000'"
    onMouseOut="this.style.color='#000'"  href="{% url 'contactUs' %}">Contact Us</a>
</li>
{% endblock navlink-contact %}

{% block main-content %}


<link rel="stylesheet" href="{% static 'app/css/about_us.css' %}">
 
 
  <div id="about-main">
    <div class="jumbotron" style="position: relative;z-index: -100;">
      <div class="jumbotron-inner">
        <div class="top-box"  >
          <div class="content-box">
            <h1 style="padding-top: 100px;">
                Contact Us
            </h1>
            <p>
                Lorem ipsum dolor sit amet consec.<br /> Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit dolorum omnis dicta, neque cum numquam maxime consequatur.
              </p>
          </div>
        </div>
      </div>
      <div class="img-layer-container">
        <div class="team-image" id="team-image">
          <!-- <img src="https://APIMatic.io/img/theme/aboutUs/images-1.png" /> -->
        </div>
  
        <div class="circles-container">
          <div class="img-1">
            <img src="https://APIMatic.io/img/theme/aboutUs/Circles-1-1.svg" />
          </div>
          <div class="img-2">
            <img src="https://APIMatic.io/img/theme/aboutUs/Circles-2-1.svg" />
          </div>
        </div>
      </div>
    </div>



<div class="container my-5">
 <div class="row"  >
  <div class="col-sm-10 offset-sm-3">
    {% if messages %}
      {% for msg in messages %}
        <p {% if msg.tags %} class="alert alert-{{msg.tags}} mb-5" {% endif %}>{{msg}}</p>
      {% endfor %} 
    {% endif %}   
   <form action="" method="post">
     
    {% csrf_token %}
    {% for fm in form %}
      <div class="form-group col-lg-6 mb-3"> 
        {{fm.label_tag}} {{fm}}
        <small class="text-danger">{{fm.errors | striptags}}</small>
      </div>
    {% endfor %}
   <div class="col-12 mt-3" >
     <button type="submit" class="btn btn-outline-dark mb-3" style="margin-left: 11em;">Submit</button>
   </div>
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}