@import "style.css";
.card {
  background-color: #fff;
  color: white;
  margin-top: 10px;
  border: none;
  padding-bottom: 0px;
}

.head1 {
  font-weight: 900;
  font-size: 30px;
}

.bdr {
  border-bottom: 1.5px solid #ffb74d;
  width: 15px;
  margin-right: auto;
  margin-left: auto;
}

.card-footer {
  justify-content: space-between;
  border: none;
  background: none;
  border-bottom: 0.5px solid #9e9e9e;
}

.footer-right > i {
  margin-left: 15px;
}

.fa-hand-holding-usd {
  color: #ffb74d;
}

.fa-handshake {
  color: #ffb74d;
}

.card-title {
  margin-bottom: 0.75rem;
  font-weight: 900;
  font-size: 15px;
  margin-top: 1.75rem;
}

.learn-more {
  color: #ffb74d;
}

.fa-angle-right {
  margin-left: 10px;
}

.fa-3x {
  color: #ffb74d;
}

.card-content {
  padding-right: 40px;
  padding-left: 30px;
  padding-bottom: 0px;
  padding-top: 10px;
}

.card-content > p {
  color: #9e9e9e;
}

.heading {
  position: relative;
  top: 75px;
}

.follow-text {
  color: #9e9e9e;
}
